# <span style="color:darkblue"> QTM 151 - Quiz 3 </span>

## Try to submit as an HTML file

<font size="5"> 

Print your name below

In [1]:
# Write your answer here

print("Sissi Li")

Sissi Li

<font size = "5" >
This quiz is open book 

- You can use the lecture notes
- You will get partial credit for attempting the questions
- To get full credit, the code should run as intended
- You should <span style="color:red"> NOT </span> communicate with other students

Print the following message: <br>

"I will abide by Emory's code of conduct"

In [2]:
# Write your answer here:

print("I will abide by Emory's code of conduct")

I will abide by Emory's code of conduct

<font size = "5">

Import the libraries "numpy" and "pandas"

In [12]:
# Write your answer here

import numpy as np
import pandas as pd


<font size = "5">

(a) Replace the values of a column

<font size = "3">

- Import the "data_raw/constructors.csv" file
- Replace the values "British", "Japanese", and "Irish" with <br>
"UK", "Japan", "Ireland" in the column "nationality"


HINT: See the example in Lecture 12

In [4]:
# Write your own code

df_constructors = pd.read_csv("data_raw/constructors.csv")
list_old = ["British", "Japanese","Irish"]
list_new = ["UK", "Japan", "Ireland"]
df_constructors["nationality"] = df_constructors["nationality"].replace(list_old,list_new)

df_constructors

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,UK,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,UK,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso
...,...,...,...,...,...
206,209,manor,Manor Marussia,UK,http://en.wikipedia.org/wiki/Manor_Motorsport
207,210,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team
208,211,racing_point,Racing Point,UK,http://en.wikipedia.org/wiki/Racing_Point_F1_Team
209,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri
210,214,alpine,Alpine F1 Team,French,http://en.wikipedia.org/wiki/Alpine_F1_Team

<font size = "5">

(b) Aggregate and query

<font size = "3">

- Import the "data_raw/sprint_results.csv" file
- Subset the observations for 'constructorId == 3' using ```.query()```
- Obtain the maximum of "laps" by "driverId" <br> 
 using ``` .groupby().agg() ```
- Subset the drivers with a maximum of laps $\ge 10$
- Store the results of all these operations in a dataframe <br>
```sprint_results_agg ```

In [5]:
# Write your own code
df_sprint = pd.read_csv("data_raw/sprint_results.csv")

aggregate_data = df_sprint.query('constructorId == 3').groupby("driverId").agg(max_laps = ("laps","max"))

# df_sprint.query('laps >= 10')[["driverId","laps"]]
sprint_results_agg = aggregate_data[aggregate_data['max_laps'] >= 10]
sprint_results_agg

          max_laps
driverId
847             24
848             23
849             24

<font size = "5">

(c) Recode a numeric colum

<font size = "3">

- Import the "data_raw/races.csv" file
- Recode the "year" column into a new column "year_brackets" <br>
with the following categories

$\qquad$ ``` ["1950-1965","1966-1980","1980-onwards"] ```

$\qquad$ HINT: Use the "pd.cut()" command.

In [6]:
# Write your own code

df_race = pd.read_csv("data_raw/races.csv")
bins = [1950, 1965, 1980, float('inf')]
labels = ["1950-1965", "1966-1980", "1980-onwards"]
df_race["year_brackets"] = pd.cut(df_race["year"], bins=bins, labels=labels, include_lowest=True, right=False)

print(df_race)

      raceId  year  round  circuitId                      name        date  \
0          1  2009      1          1     Australian Grand Prix  2009-03-29
1          2  2009      2          2      Malaysian Grand Prix  2009-04-05
2          3  2009      3         17        Chinese Grand Prix  2009-04-19
3          4  2009      4          3        Bahrain Grand Prix  2009-04-26
4          5  2009      5          4        Spanish Grand Prix  2009-05-10
...      ...   ...    ...        ...                       ...         ...
1097    1116  2023     19         69  United States Grand Prix  2023-10-22
1098    1117  2023     20         32    Mexico City Grand Prix  2023-10-29
1099    1118  2023     21         18      São Paulo Grand Prix  2023-11-05
1100    1119  2023     22         80      Las Vegas Grand Prix  2023-11-19
1101    1120  2023     23         24      Abu Dhabi Grand Prix  2023-11-26

          time                                                url    fp1_date  \
0     06:00:00  http://en.wikipedia.org/wiki/2009_Australian_G...          \N
1     09:00:00  http://en.wikipedia.org/wiki/2009_Malaysian_Gr...          \N
2     07:00:00  http://en.wikipedia.org/wiki/2009_Chinese_Gran...          \N
3     12:00:00  http://en.wikipedia.org/wiki/2009_Bahrain_Gran...          \N
4     12:00:00  http://en.wikipedia.org/wiki/2009_Spanish_Gran...          \N
...        ...                                                ...         ...
1097  19:00:00  https://en.wikipedia.org/wiki/2023_United_Stat...  2023-10-20
1098  20:00:00  https://en.wikipedia.org/wiki/2023_Mexico_City...  2023-10-27
1099  17:00:00  https://en.wikipedia.org/wiki/2023_S%C3%A3o_Pa...  2023-11-03
1100  06:00:00  https://en.wikipedia.org/wiki/2023_Las_Vegas_G...  2023-11-17
1101  13:00:00  https://en.wikipedia.org/wiki/2023_Abu_Dhabi_G...  2023-11-24

      fp1_time    fp2_date  fp2_time    fp3_date  fp3_time  quali_date  \
0           \N          \N        \N          \N        \N          \N
1           \N          \N        \N          \N        \N          \N
2           \N          \N        \N          \N        \N          \N
3           \N          \N        \N          \N        \N          \N
4           \N          \N        \N          \N        \N          \N
...        ...         ...       ...         ...       ...         ...
1097  17:30:00  2023-10-21  18:00:00          \N        \N  2023-10-20
1098  18:30:00  2023-10-27  22:00:00  2023-10-28  17:30:00  2023-10-28
1099  14:30:00  2023-11-04  14:30:00          \N        \N  2023-11-03
1100  04:30:00  2023-11-17  08:00:00  2023-11-18  04:30:00  2023-11-18
1101  09:30:00  2023-11-24  13:00:00  2023-11-25  10:30:00  2023-11-25

     quali_time sprint_date sprint_time year_brackets
0            \N          \N          \N  1980-onwards
1            \N          \N          \N  1980-onwards
2            \N          \N          \N  1980-onwards
3            \N          \N          \N  1980-onwards
4            \N          \N          \N  1980-onwards
...         ...         ...         ...           ...
1097   21:00:00  2023-10-21    22:00:00  1980-onwards
1098   21:00:00          \N          \N  1980-onwards
1099   18:00:00  2023-11-04    18:30:00  1980-onwards
1100   08:00:00          \N          \N  1980-onwards
1101   14:00:00          \N          \N  1980-onwards

[1102 rows x 19 columns]

<font size = "5">

(d) Aggregate and sort

<font size = "3">

- Import the "data_raw/sprint_results.csv" file
- Obtain the maximum of "laps" by "driverId" <br> 
using ``` .groupby().agg() ```
- Sort the teams in descending order using of <br>
the maximum of laps using ``` .sort_values() ```

In [7]:
# Write your own code

max_laps = df_sprint.groupby('driverId').agg(max_laps=('laps', 'max')).reset_index()
df_sorted = max_laps.sort_values(by='max_laps', ascending=False)

print(df_sorted)

    driverId  max_laps
0          1        24
1          4        24
22       854        24
21       853        24
20       852        24
19       849        24
17       847        24
16       846        24
15       844        24
14       842        24
13       841        24
12       840        24
11       839        24
10       832        24
9        830        24
8        825        24
7        822        24
6        817        24
5        815        24
4         20        24
2          8        24
23       855        24
18       848        23
3          9        18

<font size = "5">

(e) Rename column

<font size = "3">

- Import the "data_raw/sprint_results.csv" file
- Rename the column "time" to "time_unformatted"

HINT: Create a dictionary and use ```.rename(columns = ...)``` <br>
See Lecture 15

In [8]:
# Write your own code

df_sprint_rename = df_sprint.rename(columns={'time': 'time_unformatted'})
print(df_sprint_rename)

     resultId  raceId  driverId  constructorId  number  grid position  \
0           1    1061       830              9      33     2        1
1           2    1061         1            131      44     1        2
2           3    1061       822            131      77     3        3
3           4    1061       844              6      16     4        4
4           5    1061       846              1       4     6        5
..        ...     ...       ...            ...     ...   ...      ...
115       116    1095       840            117      18    15       16
116       117    1095       839            214      31     6       17
117       118    1095         4            214      14     7       18
118       119    1095       849              3       6    16       19
119       120    1095       848              3      23    11       \N

    positionText  positionOrder  points  laps time_unformatted milliseconds  \
0              1              1       3    17        25:38.426      1538426
1              2              2       2    17           +1.430      1539856
2              3              3       1    17           +7.502      1545928
3              4              4       0    17          +11.278      1549704
4              5              5       0    17          +24.111      1562537
..           ...            ...     ...   ...              ...          ...
115           16             16       0    24          +50.700      1862007
116           17             17       0    24          +51.756      1863063
117           18             18       0    24          +53.985      1865292
118           19             19       0    24        +1:16.850      1888157
119            R             20       0    12               \N           \N

    fastestLap fastestLapTime  statusId
0           14       1:30.013         1
1           17       1:29.937         1
2           17       1:29.958         1
3           16       1:30.163         1
4           16       1:30.566         1
..         ...            ...       ...
115          4       1:15.425         1
116          5       1:16.097         1
117          5       1:14.764         1
118          4       1:16.525         1
119          4       1:15.998        31

[120 rows x 16 columns]

<font size = "5">

(f) Merge dataset

<font size = "3">

- Import the "data_raw/sprint_results.csv" and <br>
"data_raw/constructors.csv" files
- Create a new dataset with  ```pd.merge()``` using <br>
"sprint_results" as the primary dataset, and <br>
"constructors" as the secondary dataset, merging on <br>
the column "constructorId"
- To get full points **ONLY** merge the "nationality" column <br>
from the secondary dataset (not all the columns)

HINT: Use ```[[...]]``` to extract a subset of columns <br>
from the secondary dataset before merging, including the <br>
"constructorId" column

In [9]:
# Write your own code

constructors_subset = df_constructors[['constructorId', 'nationality']]
df_merge = pd.merge(df_sprint, constructors_subset, on = "constructorId",how = "left")

print(df_merge)

     resultId  raceId  driverId  constructorId  number  grid position  \
0           1    1061       830              9      33     2        1
1           2    1061         1            131      44     1        2
2           3    1061       822            131      77     3        3
3           4    1061       844              6      16     4        4
4           5    1061       846              1       4     6        5
..        ...     ...       ...            ...     ...   ...      ...
115       116    1095       840            117      18    15       16
116       117    1095       839            214      31     6       17
117       118    1095         4            214      14     7       18
118       119    1095       849              3       6    16       19
119       120    1095       848              3      23    11       \N

    positionText  positionOrder  points  laps       time milliseconds  \
0              1              1       3    17  25:38.426      1538426
1              2              2       2    17     +1.430      1539856
2              3              3       1    17     +7.502      1545928
3              4              4       0    17    +11.278      1549704
4              5              5       0    17    +24.111      1562537
..           ...            ...     ...   ...        ...          ...
115           16             16       0    24    +50.700      1862007
116           17             17       0    24    +51.756      1863063
117           18             18       0    24    +53.985      1865292
118           19             19       0    24  +1:16.850      1888157
119            R             20       0    12         \N           \N

    fastestLap fastestLapTime  statusId nationality
0           14       1:30.013         1    Austrian
1           17       1:29.937         1      German
2           17       1:29.958         1      German
3           16       1:30.163         1     Italian
4           16       1:30.566         1          UK
..         ...            ...       ...         ...
115          4       1:15.425         1          UK
116          5       1:16.097         1      French
117          5       1:14.764         1      French
118          4       1:16.525         1          UK
119          4       1:15.998        31          UK

[120 rows x 17 columns]